.contact-form{
  border: 2px solid #a92267!important;

}
.contact-banner {
  background-image: url(/assets/media/images/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 400px;
}
.contact-section{
  margin-top: 50px;
  margin-bottom: 50px;
}