.courses  {
  margin-top: 200px;
  margin-bottom: 140px!important;
}

.courses-title {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: #cea955;
}

.card {
  margin-bottom: 34px;
  background: #2f044c;

}

.card .card-img-top {
  background-size: cover;

}

.card-body {
  padding: 40px 35px;
  color: #cea955;
}

.card-title {
  margin-bottom: 5px;
}

.read-more {
  background-color: #b31973;
  color: #fff;
  border: none;
}
.courses-banner {
  background-image: url(/assets/media/images/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 400px;
}
.html-example {
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #b31973;
}
.title-1{
  color: #cea955;
}
.courses-page{
  margin-top: 50px;
}