.full-width-header {
  min-height: 100%;
  background: transparent;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.parallax-text {
  width: 50%;
  text-align: left;

}
.parallax-text{
  color: #cea955;
  font-size: 50px;
  text-align: right;
}
.parallax-heading{
   color: #2f044c;
   font-size: 50px;
  text-align: right;

}

.para-heading {
  font-size: 50px;
  font-weight: 500;
}
.about-main{
  padding-top: 75px;
}
.about-section{
  margin-top: 150px;
  margin-bottom: 150px!important; 

}

.about-heading {
  color: #cea955;
  text-align: center;
  font-size: 48px;
  font-weight: 600;

}

.signup-btn {
  display: inline-block;
  background-color: #008dc2;
  color: white;
  text-align: center;
}

.form-inline {
  max-width: 600px;
}

#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9;

}