.full-width-header {
  min-height: 100%;
  background: transparent;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax-text {
  width: 50%;
  padding-top: 240px 0px 0px 0px;
  margin-bottom: 100px;
  text-align: left;

}
.para-heading {
  font-size: 50px;
  font-weight: 500;
}
.about-content{
  color: white;
}
.about-section{
  padding-top: 300px;
}

.about-heading {
  color: #cea955;
  text-align: center;
  font-size: 48px;
  font-weight: 600;

}

.signup-btn {
  display: inline-block;
  background-color: #b31973;
  color: white;
  text-align: center;
}

.form-inline {
  max-width: 600px;
}