.main-header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
}
.bg-light-purple{
  background-color: #2f044c;
}
.logo-container {
  height: 58px;
}

.logo-container>img {
  height: 100%;
}
.menu ul {
  list-style: none;
  margin-right: 30px;
}

.nav-item {
  display: inline;
  margin-right: 30px;
}

.menu-heading {
  font-size: 20px;
  color: #cea955!important;
  font-weight: 600;
}

.dropdown-item{
  color: #008dc2;
}
.dropdown-menu a:hover{
  color: #008dc2;
}
.frontend-menu{
  margin-top: -110px;
    margin-left: 213px;
}
.front-dropdown{
  text-align: right;
    margin-top: -33px;
    padding-right: 5px;
    color: #008dc2;
}
.backend-menu{
  margin-top: -50px;
    margin-left: 213px;
}
.back-dropdown{
  text-align: right;
    margin-top: -33px;
    padding-right: 5px;
    color: #008dc2;
}

.navbar-toggler{
  color: white!important;
  border-color: #008dc2 !important;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
  border-top-left-radius: none; 
   border-bottom-left-radius: none; 
}
.nav-item .btn.menu-heading.dropdown-toggle.dropdown-toggle-split {
  outline: none !important;
  box-shadow: none !important;
}


.login-btn {
  display: inline-block;
  font-size: 20px;
  background-color: #008dc2;
  color: white;
  min-width: 150px;
  text-align: center;
  font-weight: 500;
}

.login-btn a {
  color: black;
}

.courses-header{
  position: fixed;
  width: 100%;
  height: 75px;
  box-shadow: 0 0 15px #ddd;
  font-size: 20px;
  z-index: 9999;

  .logo-container{
    position: relative;
    height: auto;
    overflow: auto;

    .logo{
      height: 75px;
      padding: 5px;
    }
  }

  .drawer-container{
    height: auto;
    overflow: auto;

    >span{
      height: 75px;
      line-height: 75px;
      font-weight: bold;
      color: #555;
      cursor: pointer;
    }
  }

}